/* Universal Styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
:root {
  font-size: 10px;
  --blue: #7790da;
  --yellow: #fad121;
  --green: #39e27d;
  --orange: #fc9144;
  --pink: #fd9dcb;
  --red: #fa3c6a;
  --woody: #dec5a8;
  --purple: #a070dd;
  --black: #000;
  --white: #fff;
  --bgc: #f6f7f8;
  --light: rgba(255, 255, 255, 0.5);
}
html,
body {
  width: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
}
a {
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}
button {
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 0.5s;
}
.box {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 3.5rem;
}
.section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15rem 0;
}
.moveToTop {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 2rem;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-75%, -75%);
  z-index: 1000;
  border: 1px solid var(--white);
  cursor: pointer;
  opacity: 0;
}
.button {
  font-size: 1.65rem;
  font-weight: 600;
  color: var(--blue);
  background-color: var(--white);
  padding: 1.25rem 2.75rem;
  border-radius: 1000px;
}
.button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
}
.button:disabled {
  cursor: not-allowed !important;
  border-color: transparent !important;
  background-color: rgba(255, 255, 255, 0.35);
}
.button:disabled:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
}
@media screen and (max-width: 700px) {
  .button {
    font-size: 1.5rem;
    padding: 1.15rem 2rem;
  }
}
